<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>TEMPLATIN INTRO <%= 5+5 %></h1>
    <h1>hello, this is the home page </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolor numquam deleniti officia nostrum ratione
        totam, sit assumenda magni optio veniam corrupti esse, corporis a porro nesciunt tempora quaerat recusandae.</p>
</body>

</html>