<%- include('partials/head')%>

<%- include('partials/navbar')%>
<section class="container">
<h1 class="text-center mt-4"> ERROR!</h1>
<h1 class="text-center mt-5">PAGE DOES NOT EXIST</h1>
</section>
<%- include('partials/footer')%>